<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="css/pico.classless.amber.min.css">
    <script type="module" src="lib/datastar/datastar.js" asp-append-version="true"></script>
    <title>Hello world!</title>
</head>
<body>
<header>
    Header!
</header>
<main>
    <div id="checkboxes"
         data-on-load="@@get('/checkbox')"
         data-signals-boxes="[]">
        Loading...
    </div>
    
    <pre 
    id="sigs" 
    data-on-signal-change="document.getElementById('sigs').textContent = ctx.signals.JSON()"
></pre>
</main>
</body>
</html>